include:
  - project: 'templates/cicd'
    file:
      - 'variables-global.yml'
      - 'test-pre-commit.yml'
      - 'test-pytest.yml'

stages:
  - test
  - publish

publish_pypi:
  variables:
    UV_VERSION: 0.5
    PYTHON_VERSION: 3.11
    BASE_LAYER: bookworm-slim
    # GitLab CI creates a separate mountpoint for the build directory,
    # so we need to copy instead of using hard links.
    UV_LINK_MODE: copy
    UV_CACHE_DIR: .uv-cache
  cache:
    - key:
      files:
        - uv.lock
      paths:
        - $UV_CACHE_DIR
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  stage: publish
  rules:
    - if: $CI_COMMIT_TAG =~ /^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)$/
  script:
    # Build the package
    - uv build

    # Publish to PyPI
    - uv publish --index $NN_PYPI_INDEX_URL

    # Clean up the cache
    - uv cache prune --ci
