---
variables:
  UV_VERSION: 0.8.5
  PYTHON_VERSION: 3.11
  BASE_LAYER: bookworm-slim
  UV_CACHE_DIR: ".uv_cache"
  UV_LINK_MODE: copy
  UV_PUBLISH_PASSWORD: $CI_JOB_TOKEN
  UV_PUBLISH_URL: https://codebase.nnaisense.com/api/v4/projects/616/packages/pypi
  UV_PUBLISH_USERNAME: gitlab-ci-token

stages:
  - test
  - publish

.uv_template: &uv_template
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - "$UV_CACHE_DIR"

test_pre_commit:
  <<: *uv_template
  stage: test
  variables:
    PRE_COMMIT_HOME: "${CI_PROJECT_DIR}/.cache/pre-commit"
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - "$UV_CACHE_DIR"
    - key: "${CI_COMMIT_REF_SLUG}-pre-commit"
      paths:
        - ".cache/pre-commit"
  script:
    - apt-get update && apt-get install -y git
    - git config user.email "ci@nnaisense.com"
    - uv tool install pre-commit
    - uv tool run pre-commit install
    - uv tool run pre-commit run --all-files

test_pytest:
  <<: *uv_template
  stage: test
  script:
    - uv sync --dev
    - uv run pytest --junitxml=pytest-report.xml
  artifacts:
    when: always
    reports:
      junit:
        - pytest-report.xml
  coverage: "/^TOTAL.+?(\\d+\\%)$/"

publish_pypi:
  <<: *uv_template
  stage: publish
  rules:
    - if: "$CI_COMMIT_TAG =~ /^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)$/"
  script:
    # Install Git
    - apt-get update
    - apt-get install -y git
    # Build and publish package
    - uv build
    - uv publish
  after_script:
    - uv cache prune --ci
