---
variables:
  UV_VERSION: 0.7.9
  PYTHON_VERSION: 3.11
  BASE_LAYER: bookworm-slim
  UV_LINK_MODE: copy
  UV_CACHE_DIR: ".uv-cache"

stages:
  - test
  - publish

.uv_template: &uv_template
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - "$UV_CACHE_DIR"

test_pre_commit:
  <<: *uv_template
  stage: test
  variables:
    PRE_COMMIT_HOME: "${CI_PROJECT_DIR}/.cache/pre-commit"
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - "$UV_CACHE_DIR"
    - key: "${CI_COMMIT_REF_SLUG}-pre-commit"
      paths:
        - ".cache/pre-commit"
  script:
    - git config user.email "ci@nnaisense.com"
    - uv tool install pre-commit
    - uv tool run pre-commit install
    - uv tool run pre-commit run --all-files

test_pytest:
  <<: *uv_template
  stage: test
  script:
    - uv sync --dev
    - uv run pytest --junitxml=pytest-report.xml
  artifacts:
    when: always
    reports:
      junit:
        - pytest-report.xml
  coverage: "/^TOTAL.+?(\\d+\\%)$/"

publish_pypi:
  <<: *uv_template
  stage: publish
  rules:
    - if: "$CI_COMMIT_TAG =~ /^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)$/"
  script:
    - uv build
    - uv publish --index $NN_PYPI_INDEX_URL
  after_script:
    - uv cache prune --ci
